@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  src: local('Lily Script One'), local('LilyScriptOne-Regular'), url(/assets/themes/jbp/fonts/lily-script.woff) format('woff');
}
