{% extends "base.html" %}

{% block title %}{{ config.title }} :: Archive{% endblock title %}

{% block content %}
<div id="archive">
    <h2>Archive</h2>
    {% set section = get_section(path="_index.md") %}
    
    {% set current_year = "" %}
    {% set current_month = "" %}
    
    {% for post in section.pages | reverse %}
        {% set post_year = post.year %}
        {% set post_month = post.date | date(format="%B") %}
        
        {% if post_year != current_year %}
            {% if current_year != "" %}
                </ul>
            {% endif %}
            <h2>{{ post_year }}</h2>
            {% set_global current_year = post_year %}
            {% set_global current_month = "" %}
        {% endif %}
        
        {% if post_month != current_month %}
            {% if current_month != "" %}
                </ul>
            {% endif %}
            <h3>{{ post_month }}</h3>
            <ul>
            {% set_global current_month = post_month %}
        {% endif %}
        
        <li>
            <span>{{ post.date | date(format="%B %e, %Y") }}</span> &raquo; 
            <a href="{{ post.permalink | replace(from=config.base_url, to="") }}">{{ post.title }}</a>
        </li>
        
        {% if loop.last %}
            </ul>
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}
