
body {
font-family: sans-serif;
}

div.anagramic {
font-size: 20pt;
margin-left: auto;
margin-right: auto;
background: url('anagramic.png') 0% 0% no-repeat;
height: 250px;
width: 500px;
padding-left: 275px;
}

h1 { text-align: center }
h2 { 
font-size: 28pt;
text-align: center;
 }

