---
layout: default
---
<div id="post">
  <div class="meta">
    {{ page.date | date_to_long_string }} 
    {% if page.location %}{{ page.location }}{% endif %}
  </div>
  <h1>{{ page.title }}
  {% if page.subtitle %}<span class="subtitle">{{ page.subtitle }}</span>{% endif %}
  </h1>
  {{ content }}
</div>

{% if site.related_posts %}
<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

